.quiz-container{
    height: 100vh;
    width: 100%;
    background-color: rgb(4, 4, 104);
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz{
    background-color: white;
    width: 50%;
    border-radius: 0.75rem;
}
.option{
    width: 100%;
    background-color: transparent;
    height: 3rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    text-align: start;
}
.option:hover{
    background-color: rgba(128, 128, 128, 0.268);
}